body {
  width: 100%;
  height: 100%;
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-color: black;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}
.larger {
  font-size: 120% !important;
}
a {
  color: #e05300;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #7a2d00;
}
.light {
  font-weight: 400;
  font-size: 80%;
}
.very-light {
  font-weight: 200;
  font-size: 80%;
  color: #b3b3b3;
}
.content-section {
  width: 100%;
  padding: 100px 0px;
}
@media (min-width: 768px) {
  .content-section {
    padding: 150px 0px;
  }
}
.light-section {
  color: #000;
  background-color: #fff;
  background-image: url("../img/subtle_bg/ecailles.png");
  background-repeat: repeat !important;
  background-attachment: fixed;
}
.dark-section {
  color: #fff;
  background-color: #000;
}
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: black;
}
.navbar-custom .navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: white;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom .navbar-brand i {
  color: #ff6b14;
  opacity: 0;
  transition: opacity 1s;
}
.navbar-custom a {
  color: white;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(224, 83, 0, 0.9);
}
.navbar-custom .nav li.active a:hover {
  color: white;
}
.navbar-custom.top-nav-collapse .navbar-brand i {
  opacity: 1;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.intro {
  display: table;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  text-align: center;
  color: white;
  background-color: #000;
  background-image: url("../img/subtle_bg/real_cf.png");
  background-repeat: repeat !important;
  background-attachment: fixed;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
  transition: opacity 1s;
}
@media (min-width: 768px) {
  .intro .intro-body {
    display: block;
    position: absolute;
    bottom: 55%;
    left: 0;
    right: 0;
  }
}
.intro .intro-body .brand-heading {
  font-size: 40px;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}
.intro .intro-extra {
  display: none;
}
@media (min-width: 768px) {
  .intro {
    background: url(../img/P1020492.jpg) no-repeat bottom center scroll;
    box-shadow: inset 0px -75px 75px 0px #000000;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
  }
  .intro .intro-extra {
    padding: 15px;
    display: block;
    position: absolute;
    bottom: 30px;
    right: 0;
    margin: 0;
  }
  .intro .intro-extra a,
  .intro .intro-extra a:hover {
    color: #fff;
  }
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin: 15px 8px;
  padding: 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 25px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: #fff;
  background: rgba(224, 83, 0, 0.6);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}
.btn-default {
  border: 1px solid #e05300;
  color: #e05300;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #e05300;
  outline: none;
  color: #fff;
  background-color: #e05300;
}
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
footer {
  padding: 50px 0;
}
footer p {
  margin: 0;
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}
.nav-tabs {
  border-bottom: 1px solid #fff;
  text-align: center;
  margin-bottom: 2em;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nav-tabs > li {
  float: none;
  display: inline-block;
  *display: inline;
  /* ie7 fix */
  zoom: 1;
  /* hasLayout ie7 trigger */
  margin-right: 1em;
}
.nav-tabs > li > a {
  border: none !important;
  border-width: 0 !important;
  color: #fff;
  text-transform: uppercase;
}
.nav-tabs > li > a::after {
  content: "";
  background: #e05300;
  height: 4px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 100ms ease 0s;
  transform: scale(0);
}
.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
  border: none;
  color: #e05300 !important;
  background: transparent !important;
}
.nav-tabs > li:hover > a::after,
.nav-tabs > li.active > a::after {
  transform: scale(1);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  rder-width: 0 !important;
}
.light-section .nav-tabs {
  border-bottom: 1px solid #000;
}
.light-section .nav-tabs > li > a {
  color: #000;
}
.tab-content {
  margin-bottom: 2em;
}
#chartdiv {
  width: 100%;
  height: 500px;
  margin-bottom: 2em;
}
@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
/*# sourceMappingURL=main.css.map */