# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
#sites/*/files
sites/*/libraries
sites/*/private

# Ignore any local Drush
/drush