/* This file will hold styles that are loaded using the same media query as the wide grid. */


/* When the sidebar is "sticky", it's in a fixed position, and its contents
seem to loose their width properties */
#region-sidebar-second .is-sticky section.block {
  width: 280px;
}

body {
  font-size: 15px;
}

/* Highlight show */
.highlight-show-parent {
  height: 500px;
}
