/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

/* When the sidebar is "sticky", it's in a fixed position, and its contents
seem to loose their width properties */
#region-sidebar-second .is-sticky section.block {
  width: 220px;
}


body {
  font-size: 12px;
}

/* Highlight show */
.highlight-show-parent {
  height: 450px;
}

